<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admins</title>
    <link rel="stylesheet" href="/src/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/src/style.css">

    <!-- icon  -->
    <link rel="icon" href="/img/gijduvon-premium-logo.webp">
</head>

<body class="bg-black">

    <div class="container-loader">
        <div class="loader"></div>
    </div>

    <!-- Go -->
    <header class="w-[1400px] h-24 flex justify-between items-center  my-4 mx-auto">
        <!-- header-logo -->
        <div class="flex justify-between items-center  h-full px-5 object-cover rounded-xl bg-[#111] w-[75%]"><img
                class="w-20" src="/img/gijduvon-premium-logo.webp" alt="main-logo">

            <div class="inputbox">
                <input required="required" type="text">
                <span class="">
                    <p class="fa-solid fa-magnifying-glass"></p> Search for a food
                </span>
                <i></i>
            </div>

        </div>

        <!-- header-profil -->
        <div class="px-5 h-full object-cover rounded-xl bg-[#111] w-[23%] flex justify-between items-center">
            <a href="">

                <i class="fa-solid fa-bell text-3xl text-[white] duration-500 cursor-pointer hover:text-[#ffc335] "></i>
            </a>
            <a href="">

                <i
                    class="fa-solid fa-message text-3xl text-[white] duration-500 cursor-pointer hover:text-[#ffc335] "></i>
            </a>
            <!-- header-porofil-logo -->

            <a href="/profile">
                <div
                    class="w-20 h-20 bg-[white] rounded-full grid place-items-center duration-500 cursor-pointer hover:bg-[#ffc335] ">
                    <img class="w-[90%] object-cover rounded-full " src="/img/3a3f2d35-8167-4708-9ef0-bdaa980989f9.avif"
                        alt="profil-img">
                </div>
            </a>
        </div>
    </header>


    <!-- ============================= -->
    <main class="my-10 mx-auto w-[1400px] flex gap-5">
        <!-- ================================= menu ============================================== -->
        <div class="flex flex-col gap-2 w-[300px]">
            <!-- =================================menu-profil=============================== -->
            <div class="w-[300px] bg-[#111] py-3 px-5 rounded-xl">
                <!-- profil -->
                <a href="/">
                    <div
                        class="w-20 h-20  bg-[white] my-0 mx-auto rounded-full grid place-items-center duration-500 cursor-pointer hover:bg-[#ffc335] ">
                        <img class="w-[90%] object-cover rounded-full "
                            src="/img/3a3f2d35-8167-4708-9ef0-bdaa980989f9.avif" alt="profil-img">
                    </div>
                    <h3 class="text-center text-xl my-5 mx-auto w-40 break-normal text-white">{{user.name}}</h3>
                </a>
            </div>
            <!-- =========================================menu-Cotigoris=============================== -->
            <a href="/" class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-home text-white"></i>
                    <p class="text-white">Home</p>
                </div>
            </a>
            <a href="/order"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-file text-xl text-white"></i>
                    <p class="text-white">Order</p>
                </div>
            </a>
            <a href="/history"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-clock text-xl text-white"></i>
                    <p class="text-white">History</p>
                </div>
            </a>
            <a href="/meal"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500   hover:-ml-3 ">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-folder-open text-xl text-white"></i>
                    <p class="text-white">Meals</p>
                </div>
            </a>
            <a href="/category"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-layer-group text-xl text-white"></i>
                    <p class="text-white">Categories</p>
                </div>
            </a>
            <a href="/admin" class="w-[300px] bg-[#111] py-3 px-5 rounded-xl ml-3  cursor-pointer">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-users text-xl text-[#ffc355]"></i>
                    <p class="text-[#ffc355]">Admins</p>
                </div>
            </a>
            <a href="/logout"
                class="w-[300px] boss bg-red-600 py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-right-from-bracket text-white"></i>
                    <p class="text-white">Log out</p>
                </div>
            </a>
        </div>
        <!-- ===============================Cotigories=====================  -->

        <div class=" w-full ">
            <div class="bg-main-bg p-5 items-center flex justify-between w-full h-20 rounded-xl mb-5">
                <p class="text-[#ffc335] font-bold  text-2xl">Admins: <span id="cotygory-length">
                        {{admins.docs.length}}</span></p>
                {{#if (isEqual user.role "SUPERUSER")}}
                <a href="/admin-create">
                    <div id="add-btn" class="button bg-green-600">
                        <div class="button-wrapper catygoryAddBtn">
                            <div class="text">ADD</div>
                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                        </div>
                    </div>
                </a>
                {{/if}}
            </div>
            <!-- -------------------- -->
            <div id="history-section" class="w-[1100px] bg-[#111] rounded-xl p-5 mt-5 text-white">

                <!-- Header Box -->
                <div class="flex justify-between bg-[#222] p-4 rounded-lg mb-3 font-bold text-[#ffc335]">
                    <p class="w-[10%] text-center">Role</p>
                    <p class="w-[20%] text-center">Username</p>
                    <p class="w-[25%] text-center">Admin ID</p>
                    <p class="w-[20%] text-center">Email</p>
                    <p class="w-[25%] text-center">Phone</p>
                </div>

                {{#each admins.docs}}
                <div class="order-container bg-black p-4 rounded-lg mb-3">
                    <div class="flex justify-between items-center">
                        <p class="w-[10%] text-center">{{role}}</p>
                        <p class="w-[20%] text-center">{{username}}</p>
                        <p class="w-[25%] text-center">{{_id}}</p>
                        <p class="w-[20%] text-center">{{email}} </p>
                        <p class="w-[25%] text-center">{{phone}}</p>
                    </div>
                </div>
                {{/each}}

                <div id="admins-container"
                    class="flex  flex-col bg-main-bg w-[100%] py-6 px-5 rounded-xl gap-5 list-none   overflow-x-scroll cotigories-container">
                </div>

                <!-- Pagination -->
                <div id="pagination" class="flex justify-center mt-5 gap-2"></div>
            </div>
        </div>

    </main>

    <script>
        window.onload = function () {
            loading();
        };
        function loading() {
            let containerLoad = document.querySelector(".container-loader");
            containerLoad.style.display = "none";
        }
    </script>

</body>

</html>