<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../src/output.css">
    <link rel="stylesheet" href="../src/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

    <!-- icon  -->
    <link rel="icon" href="/img/gijduvon-premium-logo.webp">
</head>

<body class="bg-black">

    <div class="container-loader">
        <div class="loader"></div>
    </div>

    <header class="w-[1400px] h-24 flex justify-between items-center  my-4 mx-auto">
        <!-- header-logo -->
        <div class="flex justify-between items-center  h-full px-5 object-cover rounded-xl bg-[#111] w-[75%]"><img
                class="w-20" src="/img/gijduvon-premium-logo.webp" alt="main-logo">

            <div class="inputbox">
                <form action="/search/meal">
                    <input required type="text" name="key">
                    <span class="">
                        <p class="fa-solid fa-magnifying-glass"></p> Search for a food
                    </span>
                    <i></i>
                    <button type="submit" hidden></button>
                </form>
            </div>

        </div>

        <!-- header-profil -->
        <div class="px-5 h-full object-cover rounded-xl bg-[#111] w-[23%] flex justify-between items-center">
            <a href="">

                <i class="fa-solid fa-bell text-3xl text-white duration-500 cursor-pointer hover:text-[#ffc335] "></i>
            </a>
            <a href="">

                <i
                    class="fa-solid fa-message text-3xl text-[white] duration-500 cursor-pointer hover:text-[#ffc335] "></i>
            </a>
            <!-- header-porofil-logo -->

            <a href="/profile">
                <div
                    class="w-20 h-20 bg-[white] rounded-full grid place-items-center duration-500 cursor-pointer hover:bg-[#ffc335] ">
                    <img class="w-[90%] object-cover rounded-full " src="/img/3a3f2d35-8167-4708-9ef0-bdaa980989f9.png"
                        alt="profil-img">
                </div>
            </a>
        </div>
    </header>
    <main class="mx-auto w-[1400px] flex justify-between gap-5">
        <!-- ================================= menu ============================================== -->
        <div class="flex flex-col gap-2 w-[300px]">
            <!-- =================================menu-profil=============================== -->
            <div class="w-[300px] bg-[#111] py-3 px-5 rounded-xl">
                <!-- profil -->
                <div class="w-20 h-20  bg-[white] my-0 mx-auto rounded-full grid place-items-center duration-500 cursor-pointer hover:bg-[#ffc335]"
                    style="cursor: auto;">
                    <img class="w-[90%] object-cover rounded-full " src="/img/3a3f2d35-8167-4708-9ef0-bdaa980989f9.png"
                        alt="profil-img">
                </div>
                <h3 class="text-center text-xl my-5 mx-auto w-40 break-normal text-white">{{user.name}}</h3>
            </div>
            <!-- =========================================menu-Cotigoris=============================== -->
            <a href="/" class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-home text-white"></i>
                    <p class="text-white">Home</p>
                </div>
            </a>
            <a href="/order"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-file text-xl text-white"></i>
                    <p class="text-white">Order</p>
                </div>
            </a>
            <a href="/booking"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-calendar text-xl text-white"></i>
                    <p class="text-white">Booking</p>
                </div>
            </a>
            <a href="/history"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-clock text-xl text-white"></i>
                    <p class="text-white">History</p>
                </div>
            </a>
            <a href="/meal"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500   hover:-ml-3 ">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-folder-open text-xl text-white"></i>
                    <p class="text-white">Meals</p>
                </div>
            </a>
            <a href="/category" class="w-[300px] bg-[#111] py-3 px-5 rounded-xl ml-3  cursor-pointer">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-layer-group text-xl text-[#ffc355]"></i>
                    <p class="text-[#ffc355]">Categories</p>
                </div>
            </a>
            <a href="/stol"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-table text-xl text-white"></i>
                    <p class="text-white">Table</p>
                </div>
            </a>
            {{#if (isEqual user.role "SUPERUSER")}}
            <a href="/admin"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-users text-xl text-white"></i>
                    <p class="text-white">Admins</p>
                </div>
            </a>
            {{/if}}
            <a href="/logout"
                class="w-[300px] boss bg-red-600 py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-right-from-bracket text-white"></i>
                    <p class="text-white">Log out</p>
                </div>
            </a>
        </div>
        <!-- ===============================Cotigories=====================  -->

        <div class=" w-full ">
            <div class="bg-main-bg p-5 items-center flex justify-between w-full h-20 rounded-xl mb-5">
                <p class="text-[#ffc335] font-bold  text-2xl">Categories: <span id="cotygory-length">
                        {{categories.totalDocs}}</span></p>
                <a href="/category/create">
                    <div id="add-btn" class="button bg-green-600">
                        <div class="button-wrapper catygoryAddBtn">
                            <div class="text">ADD</div>
                            <span class="icon"><i class="fa-solid fa-plus"></i></span>
                        </div>
                    </div>
                </a>
            </div>

            <div id="pruduct-container"
                class="flex  flex-col bg-main-bg w-[100%] py-6 px-5 rounded-xl gap-5 list-none   overflow-x-scroll cotigories-container">
                {{#if categories.docs.length}}

                {{#each categories.docs}}
                <div class="w-full gap-7 rounded-xl flex items-center p-4 col-span-2 bg-black justify-between">
                    <div class="flex gap-3 items-center">
                        <div class="w-32 h-32 rounded-full overflow-hidden">
                            <img class="w-full" src="{{this.image_url}}" alt="Mahsulot rasm">
                        </div>
                        <div class="w-[300px]">
                            <h1 class="text-white text-3xl">{{this.en_name}}</h1>
                            <p class="text-[#999] text-xl">Meals: {{this.meals.length}}</p>
                        </div>
                    </div>
                    <div class="flex gap-3">
                        <a href="/category/{{this._id}}/update">
                            <div type="submit" class="button bg-green-600 edit-cotigory">
                                <div class="button-wrapper">
                                    <div class="text">Edit</div>
                                    <span class="icon"><i class="fa-solid fa-pen"></i></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {{/each}}
                <!-- Pagination -->

                <div id="pagination" class="flex justify-center mt-5 gap-2">
                    {{#if categories.hasPrevPage}}<a href="/category/?page={{categories.prevPage}}"><button
                            class="px-3 py-2 rounded-lg bg-black text-white">Previous</button></a>{{/if}}
                    <button class="px-3 py-2 rounded-lg bg-black text-[#ffc335]">{{categories.page}}</button>
                    {{!-- <a href=""><button class="px-3 py-2 rounded-lg bg-[#222] text-white">2</button></a> --}}
                    {{#if categories.hasNextPage}}<a href="/category/?page={{categories.nextPage}}"><button
                            class="px-3 py-2 rounded-lg bg-black text-white">Next</button></a>{{/if}}
                </div>

                {{else}}
                <p class="text-white">Categories are empty.</p>
                {{/if}}
            </div>
        </div>
    </main>

    <script>
        // Loader closer.
        let containerLoad = document.querySelector(".container-loader");
        window.onload = function () {
            loading();
        };
        function loading() {
            containerLoad.style.display = "none";
        }
    </script>

</body>

</html>