<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create meal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/src/output.css">
    <link rel="stylesheet" href="/src/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

    <!-- icon  -->
    <link rel="icon" href="/img/gijduvon-premium-logo.webp">
    <link rel="stylesheet" href="/src/productC.css">
</head>

<body class="bg-black">

    <div class="container-loader">
        <div class="loader"></div>
    </div>

    <header class="w-[1400px] h-24 flex justify-between items-center  my-4 mx-auto">
        <!-- header-logo -->
        <div class="flex justify-between items-center  h-full px-5 object-cover rounded-xl bg-[#111] w-[75%]"><img
                class="w-20" src="/img/gijduvon-premium-logo.webp" alt="main-logo">

            <div class="inputbox">
                <form action="/search/meal">
                    <input required type="text" name="key">
                    <span class="">
                        <p class="fa-solid fa-magnifying-glass"></p> Search for a food
                    </span>
                    <i></i>
                    <button type="submit" hidden></button>
                </form>
            </div>

        </div>

        <!-- header-profil -->
        <div class="px-5 h-full object-cover rounded-xl bg-[#111] w-[23%] flex justify-between items-center">
            <a href="">
                <i class="fa-solid fa-bell text-3xl text-[white] duration-500 cursor-pointer hover:text-[#ffc335] "></i>
            </a>
            <a href="">
                <i
                    class="fa-solid fa-message text-3xl text-[white] duration-500 cursor-pointer hover:text-[#ffc335] "></i>
            </a>
            <!-- header-porofil-logo -->
            <a href="/profile">
                <i class="fa-solid fa-user text-3xl text-[white] duration-500 cursor-pointer hover:text-[#ffc335];" style="margin-right: 20px;"></i>
            </a>
        </div>
    </header>
    <main class="mx-auto w-[1400px] flex justify-between gap-5">
        <!-- ================================= menu ============================================== -->
        <div class="flex flex-col gap-2 w-[300px]">
            <!-- =================================menu-profil=============================== -->
            <div class="w-[300px] bg-[#111] py-3 px-5 rounded-xl">
                <!-- profil -->
                <div class="w-20 h-20  bg-[white] my-0 mx-auto rounded-full grid place-items-center duration-500 cursor-pointer hover:bg-[#ffc335]"
                    style="cursor: auto;">
                    <img class="w-[90%] object-cover rounded-full " src="/img/3a3f2d35-8167-4708-9ef0-bdaa980989f9.png"
                        alt="profil-img">
                </div>
                <h3 class="text-center text-xl my-5 mx-auto w-40 break-normal text-white">{{user.name}}</h3>
            </div>
            <!-- =========================================menu-Cotigoris=============================== -->
            <a href="/" class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-home text-white"></i>
                    <p class="text-white">Home</p>
                </div>
            </a>
            <a href="/order"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-file text-xl text-white"></i>
                    <p class="text-white">Order</p>
                </div>
            </a>
            <a href="/booking"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-calendar text-xl text-white"></i>
                    <p class="text-white">Booking</p>
                </div>
            </a>
            <a href="/history"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-clock text-xl text-white"></i>
                    <p class="text-white">History</p>
                </div>
            </a>
            <a href="/meal" class="w-[300px] bg-[#111] py-3 px-5 rounded-xl ml-3  cursor-pointer">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-folder-open text-xl text-[#ffc355]"></i>
                    <p class="text-[#ffc355]">Meals</p>
                </div>
            </a>
            <a href="/category"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500   hover:-ml-3 ">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-layer-group text-xl text-white"></i>
                    <p class="text-white">Categories</p>
                </div>
            </a>
            <a href="/stol"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-table text-xl text-white"></i>
                    <p class="text-white">Table</p>
                </div>
            </a>
            {{#if (isEqual user.role "SUPERUSER")}}
            <a href="/admin"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-users text-xl text-white"></i>
                    <p class="text-white">Admins</p>
                </div>
            </a>
            {{/if}}
            <a href="/logout"
                class="w-[300px] boss bg-red-600 py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-right-from-bracket text-white"></i>
                    <p class="text-white">Log out</p>
                </div>
            </a>
        </div>
        <!-- ===============================Cotigories=====================  -->

        <div class=" w-full ">

            <!-- Create Cotegory -->

            <div class="product-container">
                <!-- Header -->
                <div class="product-header">
                    <h1 class="text-[#ffc335] font-bold  text-2xl">CREATE MEAL</h1>
                </div>

                <!-- Form -->
                <form onsubmit="startLoader()" class="product-form" action="/meal/create" method="post"
                    enctype="multipart/form-data">
                    <!-- Product Title (EN and UZ) -->
                    <div class="form-group product-title-group">
                        <div>
                            <label for="product-title-en" id="title-en-label" class="product-label">Product Title
                                (EN)</label>
                            {{#if inputedData}}
                            <input type="text" id="product-title-en" name="en_name" class="product-input"
                                placeholder="Enter product title (EN)" required value="{{inputedData.en_name}}">
                            {{else}}
                            <input type="text" id="product-title-en" name="en_name" class="product-input"
                                placeholder="Enter product title (EN)" required>
                            {{/if}}
                        </div>
                        <div>
                            <label for="product-title-uz" id="title-uz-label" class="product-label">Product Title
                                (RU)</label>
                            {{#if inputedData}}
                            <input type="text" id="product-title-uz" name="ru_name" class="product-input"
                                placeholder="Enter product title (RU)" required value="{{inputedData.ru_name}}">
                            {{else}}
                            <input type="text" id="product-title-uz" name="ru_name" class="product-input"
                                placeholder="Enter product title (RU)" required>
                            {{/if}}
                        </div>
                    </div>

                    <!-- Product Description (EN and UZ) -->
                    <div class="form-group product-description-group">
                        <label for="product-description-en" id="description-en-label" class="product-label">Product
                            Description (EN)</label>
                        {{#if inputedData}}
                        <textarea id="product-description-en" name="en_description" class="product-textarea"
                            placeholder="Enter product description (EN)"
                            required>{{inputedData.en_description}}</textarea>
                        {{else}}
                        <textarea id="product-description-en" name="en_description" class="product-textarea"
                            placeholder="Enter product description (EN)" required></textarea>
                        {{/if}}

                        <label for="product-description-uz" id="description-uz-label" class="product-label">Product
                            Description (RU)</label>
                        {{#if inputedData}}
                        <textarea id="product-description-uz" name="ru_description" class="product-textarea"
                            placeholder="Enter product description (RU)"
                            required>{{inputedData.ru_description}}</textarea>
                        {{else}}
                        <textarea id="product-description-uz" name="ru_description" class="product-textarea"
                            placeholder="Enter product description (RU)" required></textarea>
                        {{/if}}
                    </div>

                    <div class="form-group product-title-group">
                        <div>
                            <label for="product-price" class="product-label">Price ($)</label>
                            {{#if inputedData}}
                            <input type="number" id="product-price" name="price" class="product-input"
                                placeholder="Enter product price" required value="{{inputedData.price}}">
                            {{else}}
                            <input type="number" id="product-price" name="price" class="product-input"
                                placeholder="Enter product price" required>
                            {{/if}}
                        </div>
                    </div>

                    <!-- Product Gallery -->
                    <div class="form-group product-gallery-group">
                        <label id="gallery-label" class="product-label">Select new image</label>
                        <input type="file" id="product-image" name="file" class="product-file-input" accept="image/*"
                            required>
                        <div id="upload-placeholder" class="product-image-placeholder">Drop files here or click to
                            upload</div>
                    </div>

                    <!-- Category Dropdown -->
                    <div class="form-group product-category-group">
                        <label for="product-category" id="category-label" class="product-label">Select Category</label>
                        <select id="product-category" name="category" class="product-select" required>
                            {{#if selectedCategory}}
                            <option value="{{selectedCategory._id}}">{{selectedCategory.en_name}}</option>
                            {{#each categories}}
                            <option value="{{this._id}}">{{this.en_name}}</option>
                            {{/each}}
                            {{else}}
                            <option value="">Select category</option>
                            {{#each categories}}
                            <option value="{{this._id}}">{{this.en_name}}</option>
                            {{/each}}
                            {{/if}}
                        </select>
                    </div>

                    <!-- Submit Button -->
                    <div class="buttons">
                        <button type="submit" id="submit-btn" class="product-submit-btn">CREATE</button>
                        <a type="button" href="/meal" class="product-cancel-btn">CANCEL</a>
                    </div>
                </form>
            </div>

            {{#if errorMessage}}
            <div class="bg-main-bg p-5 items-center flex justify-between w-full h-20 rounded-xl mb-5">
                <p class="create-error-message">{{errorMessage}}</p>
            </div>
            {{/if}}

    </main>

    <script>
        // Loader closer.
        window.onload = function () {
            loading();
        };
        function loading() {
            let containerLoad = document.querySelector(".container-loader");
            containerLoad.style.display = "none";
        }

        function startLoader() {
            let containerInput = document.querySelector('.profile-info')
            containerInput.style.display = 'none'
            let containerLoad = document.querySelector(".container-loader");
            containerLoad.style.display = "grid";
        }
    </script>


</body>

</html>