<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать категорию</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/src/output.css">
    <link rel="stylesheet" href="/src/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

    <!-- icon  -->
    <link rel="icon" href="/img/gijduvon-premium-logo.webp">
    <link rel="stylesheet" href="/src/createC.css">
</head>

<body class="bg-black">

    <div class="container-loader">
        <div class="loader"></div>
    </div>

    <header class="w-[1400px] h-24 flex justify-between items-center  my-4 mx-auto">
        <!-- header-logo -->
        <div class="flex justify-between items-center  h-full px-5 object-cover rounded-xl bg-[#111] w-[75%]"><img
                class="w-20" src="/img/gijduvon-premium-logo.webp" alt="main-logo">

            <div class="inputbox">
                <form action="/search/meal">
                    <input required type="text" name="key">
                    <span class="">
                        <p class="fa-solid fa-magnifying-glass"></p> Поиск еды
                    </span>
                    <i></i>
                    <button type="submit" hidden></button>
                </form>
            </div>

        </div>

        <!-- header-profil -->
        <div class="px-5 h-full object-cover rounded-xl bg-[#111] w-[23%] flex justify-between items-center">
            <a href="">
                <i class="fa-solid fa-bell text-3xl text-[white] duration-500 cursor-pointer hover:text-[#ffc335] "></i>
            </a>
            <a href="">
                <i
                    class="fa-solid fa-message text-3xl text-[white] duration-500 cursor-pointer hover:text-[#ffc335] "></i>
            </a>
            <!-- header-porofil-logo -->
            <a href="/profile">
                <i class="fa-solid fa-user text-3xl text-[white] duration-500 cursor-pointer hover:text-[#ffc335];" style="margin-right: 20px;"></i>
            </a>
        </div>
    </header>
    <main class="mx-auto w-[1400px] flex justify-between gap-5">
        <!-- ================================= menu ============================================== -->
        <div class="flex flex-col gap-2 w-[300px]">
            <!-- =================================menu-profil=============================== -->
            <div class="w-[300px] bg-[#111] py-3 px-5 rounded-xl">
                <!-- profil -->
                <div class="w-20 h-20  bg-[white] my-0 mx-auto rounded-full grid place-items-center duration-500 cursor-pointer hover:bg-[#ffc335]"
                    style="cursor: auto;">
                    <img class="w-[90%] object-cover rounded-full " src="/img/3a3f2d35-8167-4708-9ef0-bdaa980989f9.png"
                        alt="profil-img">
                </div>
                <h3 class="text-center text-xl my-5 mx-auto w-40 break-normal text-white">{{user.name}}</h3>
            </div>
            <!-- =========================================menu-Cotigoris=============================== -->
            <a href="/" class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-home text-white"></i>
                    <p class="text-white">Основной</p>
                </div>
            </a>
            <a href="/order"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-file text-xl text-white"></i>
                    <p class="text-white">Заказы</p>
                </div>
            </a>
            <a href="/booking"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-calendar text-xl text-white"></i>
                    <p class="text-white">Бронирование</p>
                </div>
            </a>
            <a href="/history"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-clock text-xl text-white"></i>
                    <p class="text-white">История</p>
                </div>
            </a>
            <a href="/meal"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500   hover:-ml-3 ">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-folder-open text-xl text-white"></i>
                    <p class="text-white">Блюды</p>
                </div>
            </a>
            <a href="/category" class="w-[300px] bg-[#111] py-3 px-5 rounded-xl ml-3  cursor-pointer">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-layer-group text-xl text-[#ffc355]"></i>
                    <p class="text-[#ffc355]">Категории</p>
                </div>
            </a>
            <a href="/stol"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-table text-xl text-white"></i>
                    <p class="text-white">Стол</p>
                </div>
            </a>
            {{#if (isEqual user.role "SUPERUSER")}}
            <a href="/admin"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-users text-xl text-white"></i>
                    <p class="text-white">Админы</p>
                </div>
            </a>
            {{/if}}
            <a href="/logout"
                class="w-[300px] boss bg-red-600 py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-right-from-bracket text-white"></i>
                    <p class="text-white">Выйти</p>
                </div>
            </a>
        </div>
        <!-- ===============================Cotigories=====================  -->

        <div class=" w-full ">

            <!-- Create Cotegory -->

            <div class="category-container">
                <div class="category-header">
                    <h1 class="category-title" id="page-title">Создать категорию</h1>
                </div>

                <form onsubmit="startLoader()" class="category-form" action="/category/create" method="post"
                    enctype="multipart/form-data">
                    <div class="form-group category-title-group">
                        <div>
                            <label for="category-title-en" id="title-en-label" class="category-label">Название категории
                                (EN)</label>
                            {{#if inputedData}}
                            <input type="text" id="category-title-en" name="en_name" class="category-input"
                                placeholder="Введите название категории (EN)" value="{{inputedData.en_name}}" required>
                            {{else}}
                            <input type="text" id="category-title-en" name="en_name" class="category-input"
                                placeholder="Введите название категории (EN)" required>
                            {{/if}}
                        </div>
                        <div>
                            <label for="category-title-uz" id="title-uz-label" class="category-label">Название категории
                                (RU)</label>
                            {{#if inputedData}}
                            <input type="text" id="category-title-uz" name="ru_name" class="category-input"
                                placeholder="Введите название категории (RU)" value="{{inputedData.ru_name}}" required>
                            {{else}}
                            <input type="text" id="category-title-uz" name="ru_name" class="category-input"
                                placeholder="Введите название категории (RU)" required>
                            {{/if}}
                        </div>
                    </div>

                    <div class="form-group category-gallery-group">
                        <label id="gallery-label" class="category-label">Категория Галерея</label>
                        <input type="file" id="category-image" name="file" class="category-file-input" accept="image/*"
                            required>
                        <div id="upload-placeholder" class="category-image-placeholder">Перетащите файлы сюда или нажмите, чтобы загрузить</div>
                    </div>

                    <div class="buttons">
                        <button type="submit" class="category-submit-btn">СОЗДАТЬ КАТЕГОРИЮ</button>
                        <a class="category-cancel-btn" href="/category">ОТМЕНА</a>
                    </div>
                </form>
            </div>

            {{#if errorMessage}}
            <div class="bg-main-bg p-5 items-center flex justify-between w-full h-20 rounded-xl mb-5">
                <p class="create-error-message">{{errorMessage}}</p>
            </div>
            {{/if}}

    </main>

    <script>
        // Loader closer.
        window.onload = function () {
            loading();
        };
        function loading() {
            let containerLoad = document.querySelector(".container-loader");
            containerLoad.style.display = "none";
        }

        function startLoader() {
            let containerInput = document.querySelector('.profile-info')
            containerInput.style.display = 'none'
            let containerLoad = document.querySelector(".container-loader");
            containerLoad.style.display = "grid";
        }

    </script>



</body>

</html>