<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="/src/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/src/style.css">

    <!-- icon  -->
    <link rel="icon" href="/img/gijduvon-premium-logo.webp">
</head>

<body class="bg-black">

    <div class="container-loader">
        <div class="loader"></div>
    </div>

    <!-- Go -->
    <header class="w-[1400px] h-24 flex justify-between items-center  my-4 mx-auto">
        <!-- header-logo -->
        <div class="flex justify-between items-center  h-full px-5 object-cover rounded-xl bg-[#111] w-[75%]"><img
                class="w-20" src="/img/gijduvon-premium-logo.webp" alt="main-logo">

            <div class="inputbox">
                <form action="/search/meal">
                    <input required type="text" name="key">
                    <span class="">
                        <p class="fa-solid fa-magnifying-glass"></p> Search for a food
                    </span>
                    <i></i>
                    <button type="submit" hidden></button>
                </form>
            </div>

        </div>

        <!-- header-profil -->
        <div class="px-5 h-full object-cover rounded-xl bg-[#111] w-[23%] flex justify-between items-center">
            <a href="">
                <i class="fa-solid fa-bell text-3xl text-[white] duration-500 cursor-pointer hover:text-[#ffc335] "></i>
            </a>
            <a href="">
                <i
                    class="fa-solid fa-message text-3xl text-[white] duration-500 cursor-pointer hover:text-[#ffc335] "></i>
            </a>
            <!-- header-porofil-logo -->
            <a href="/profile">
                <i class="fa-solid fa-user text-3xl text-[white] duration-500 cursor-pointer hover:text-[#ffc335];" style="margin-right: 20px;"></i>
            </a>
        </div>
    </header>


    <!-- ============================= -->
    <main class="mx-auto w-[1400px] flex gap-5">
        <!-- ================================= menu ============================================== -->
        <div class="flex flex-col gap-2 w-[300px]">
            <!-- =================================menu-profil=============================== -->
            <div class="w-[300px] bg-[#111] py-3 px-5 rounded-xl">
                <!-- profil -->
                <div class="w-20 h-20  bg-[white] my-0 mx-auto rounded-full grid place-items-center duration-500 cursor-pointer hover:bg-[#ffc335]"
                    style="cursor: auto;">
                    <img class="w-[90%] object-cover rounded-full " src="/img/3a3f2d35-8167-4708-9ef0-bdaa980989f9.png"
                        alt="profil-img">
                </div>
                <h3 class="text-center text-xl my-5 mx-auto w-40 break-normal text-white">{{user.name}}</h3>
            </div>
            <!-- =========================================menu-Cotigoris=============================== -->
            <a href="/" class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-home text-white"></i>
                    <p class="text-white">Home</p>
                </div>
            </a>
            <a href="/order" class="w-[300px] bg-[#111] py-3 px-5 rounded-xl ml-3  cursor-pointer">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-file text-xl text-[#ffc355]"></i>
                    <p class="text-[#ffc355]">Order</p>
                </div>
            </a>
            <a href="/booking"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-calendar text-xl text-white"></i>
                    <p class="text-white">Booking</p>
                </div>
            </a>
            <a href="/history"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-clock text-xl text-white"></i>
                    <p class="text-white">History</p>
                </div>
            </a>
            <a href="/meal"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500   hover:-ml-3 ">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-folder-open text-xl text-white"></i>
                    <p class="text-white">Meals</p>
                </div>
            </a>
            <a href="/category"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-layer-group text-xl text-white"></i>
                    <p class="text-white">Categories</p>
                </div>
            </a>
            <a href="/stol"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-table text-xl text-white"></i>
                    <p class="text-white">Table</p>
                </div>
            </a>
            {{#if (isEqual user.role "SUPERUSER")}}
            <a href="/admin"
                class="w-[300px] boss bg-[#111] py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-users text-xl text-white"></i>
                    <p class="text-white">Admins</p>
                </div>
            </a>
            {{/if}}
            <a href="/logout"
                class="w-[300px] boss bg-red-600 py-3 px-5 rounded-xl cursor-pointer duration-500 hover:-ml-3">
                <div class="h-9 w-full flex items-center gap-4 hover:text-[#ffc335]">
                    <i class="fa-solid fa-right-from-bracket text-white"></i>
                    <p class="text-white">Log out</p>
                </div>
            </a>
        </div>
        <!-- ===============================Cotigories=====================  -->

        <div class="w-full">

            <!-- order flex -->

            <div class="bg-main-bg p-5 flex flex-col w-full h-20 rounded-xl mb-5">
                <div class="header">
                    <h1 class="text-[#ffc335] font-bold  text-2xl">Orders</h1>
                    <div class="button-group">
                        {{#if isAll}}
                        <a href="/order">
                            <button class="status-button-active">All ({{orders.totalDocs}})</button>
                        </a>
                        {{else}}
                        <a href="/order">
                            <button class="status-button">All ({{orders.length}})</button>
                        </a>
                        {{/if}}
                        {{#if isWaitAccept}}
                        <a href="/orders/wait-accept">
                            <button class="status-button-active">Wait-accept ({{waitAcceptOrders.totalDocs}})</button>
                        </a>
                        {{else}}
                        <a href="/orders/wait-accept">
                            <button class="status-button">Wait-accept ({{waitAcceptOrders.length}})</button>
                        </a>
                        {{/if}}
                        {{#if isCooking}}
                        <a href="/orders/cooking">
                            <button class="status-button-active">Cooking ({{cookingOrders.totalDocs}})</button>
                        </a>
                        {{else}}
                        <a href="/orders/cooking">
                            <button class="status-button">Cooking ({{cookingOrders.length}})</button>
                        </a>
                        {{/if}}
                        {{#if isOnWay}}
                        <a href="/orders/on-way">
                            <button class="status-button-active">On-way ({{onWayOrders.totalDocs}})</button>
                        </a>
                        {{else}}
                        <a href="/orders/on-way">
                            <button class="status-button">On-way ({{onWayOrders.length}})</button>
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>

            <div class="w-full p-5 flex flex-col gap-5 bg-main-bg rounded-xl">



                <!-- order box -->

                {{!-- All Orders --}}
                {{#if isAll}}
                {{#if orders.docs.length}}
                {{#each orders.docs}}
                <div class="w-full bg-black p-6 rounded-xl">

                    <!-- order -->

                    <p class="text-white ">Order ID <span class="text-text-color">#{{_id}}</span></p>
                    <div class="flex justify-between w-[90%]">
                        <div class="">
                            <div class="text-white ml-5 mt-3">
                                <p class="">Email: <span class="ml-3 text-xl">{{email}}</span>
                                </p>
                                <p class="">Phone: <span class="ml-3 text-xl">{{phone}}</span> </p>
                                <p class="">Status: <span class="ml-3 text-xl">{{status}}</span></p>
                            </div>
                        </div>
                        <div class="w-[40%]">
                            <ul class="flex justify-around text-end text-white">
                                <h1>Meals: </h1>
                                <br>
                                <ul>
                                    {{#if meals.length}}
                                    {{#each meals}}
                                    <li>{{meal.en_name}} * {{amount}} ----- ${{meal.price}}</li>
                                    {{/each}}
                                    {{else}}
                                    <li>Empty!</li>
                                    {{/if}}
                                </ul>
                            </ul>

                        </div>
                    </div>
                    <form action="/order/{{_id}}/change-status" method="post">
                        <div class="text-end mt-10">
                            <button type="submit" class="bg-green-600 text-white rounded py-2 px-5">{{#if (isEqual
                                status "Wait accept")}}Wait accept{{/if}}{{#if (isEqual status
                                "Cooking")}}Cooked{{/if}}{{#if (isEqual status "On way")}}Delivered{{/if}}</button>
                        </div>
                    </form>
                    <form action="/order/{{_id}}/dismiss" method="post">
                        <div class="text-end mt-2">
                            <button type="submit" class="bg-red-600 text-white rounded py-2 px-5">Dismiss</button>
                        </div>
                    </form>
                </div>
                {{/each}}

                <!-- Pagination -->

                <div id="pagination" class="flex justify-center mt-5 gap-2">
                    {{#if orders.hasPrevPage}}<a href="/order/?page={{orders.prevPage}}"><button
                            class="px-3 py-2 rounded-lg bg-black text-white">Previous</button></a>{{/if}}
                    <button class="px-3 py-2 rounded-lg bg-black text-[#ffc335]">{{orders.page}}</button>
                    {{!-- <a href=""><button class="px-3 py-2 rounded-lg bg-[#222] text-white">2</button></a> --}}
                    {{#if orders.hasNextPage}}<a href="/order/?page={{orders.nextPage}}"><button
                            class="px-3 py-2 rounded-lg bg-black text-white">Next</button></a>{{/if}}
                </div>
                {{else}}
                <p class="empty-message">Orders are empty!</p>
                {{/if}}
                {{/if}}




                {{!-- Wait accept Orders --}}

                {{#if isWaitAccept}}
                {{#if waitAcceptOrders.docs.length}}
                {{#each waitAcceptOrders.docs}}
                <div class="w-full bg-black p-6 rounded-xl">

                    <!-- order -->

                    <p class="text-white ">Order ID <span class="text-text-color">#{{_id}}</span></p>
                    <div class="flex justify-between w-[90%]">
                        <div class="">
                            <div class="text-white ml-5 mt-3">
                                <p class="">Email: <span class="ml-3 text-xl">{{email}}</span>
                                </p>
                                <p class="">Phone: <span class="ml-3 text-xl">{{phone}}</span> </p>
                                <p class="">Status: <span class="ml-3 text-xl">{{status}}</span></p>
                            </div>
                        </div>
                        <div class="w-[40%]">
                            <ul class="flex justify-around text-end text-white">
                                <h1>Meals: </h1>
                                <br>
                                <ul>
                                    {{#if meals.length}}
                                    {{#each meals}}
                                    <li>{{meal.en_name}} * {{amount}} ----- ${{meal.price}}</li>
                                    {{/each}}
                                    {{else}}
                                    <li>Empty!</li>
                                    {{/if}}
                                </ul>
                            </ul>

                        </div>
                    </div>
                    <form action="/order/{{_id}}/change-status" method="post">
                        <div class="text-end mt-10">
                            <button type="submit" class="bg-green-600 text-white rounded py-2 px-5">Acept</button>
                        </div>
                    </form>
                    <form action="/order/{{_id}}/dismiss" method="post">
                        <div class="text-end mt-2">
                            <button type="submit" class="bg-red-600 text-white rounded py-2 px-5">Dismiss</button>
                        </div>
                    </form>

                </div>
                {{/each}}

                <!-- Pagination -->

                <div id="pagination" class="flex justify-center mt-5 gap-2">
                    {{#if waitAcceptOrders.hasPrevPage}}<a href="/order/?page={{waitAcceptOrders.prevPage}}"><button
                            class="px-3 py-2 rounded-lg bg-[#222] text-white">Previous</button></a>{{/if}}
                    <button class="px-3 py-2 rounded-lg bg-[#ffc335] text-white">{{waitAcceptOrders.page}}</button>
                    {{!-- <a href=""><button class="px-3 py-2 rounded-lg bg-[#222] text-white">2</button></a> --}}
                    {{#if waitAcceptOrders.hasNextPage}}<a href="/order/?page={{waitAcceptOrders.nextPage}}"><button
                            class="px-3 py-2 rounded-lg bg-[#222] text-white">Next</button></a>{{/if}}
                </div>
                {{else}}
                <p class="empty-message">Orders are empty!</p>
                {{/if}}
                {{/if}}




                {{!-- Cooking Orders --}}

                {{#if isCooking}}
                {{#if cookingOrders.docs.length}}
                {{#each cookingOrders.docs}}
                <div class="w-full bg-black p-6 rounded-xl">
                    <!-- order -->
                    <p class="text-white ">Order ID <span class="text-text-color">#{{_id}}</span></p>
                    <div class="flex justify-between w-[90%]">
                        <div class="">
                            <div class="text-white ml-5 mt-3">
                                <p class="">Email: <span class="ml-3 text-xl">{{email}}</span>
                                </p>
                                <p class="">Phone: <span class="ml-3 text-xl">{{phone}}</span> </p>
                                <p class="">Status: <span class="ml-3 text-xl">{{status}}</span></p>
                            </div>
                        </div>
                        <div class="w-[40%]">
                            <ul class="flex justify-around text-end text-white">
                                <h1>Meals: </h1>
                                <br>
                                <ul>
                                    {{#if meals.length}}
                                    {{#each meals}}
                                    <li>{{meal.en_name}} * {{amount}} ----- ${{meal.price}}</li>
                                    {{/each}}
                                    {{else}}
                                    <li>Empty!</li>
                                    {{/if}}
                                </ul>
                            </ul>

                        </div>
                    </div>
                    <form action="/order/{{_id}}/change-status" method="post">
                        <div class="text-end mt-10">
                            <button type="submit" class="bg-green-600 text-white rounded py-2 px-5">Cooked</button>
                        </div>
                    </form>
                    <form action="/order/{{_id}}/dismiss" method="post">
                        <div class="text-end mt-2">
                            <button type="submit" class="bg-red-600 text-white rounded py-2 px-5">Dismiss</button>
                        </div>
                    </form>

                </div>
                {{/each}}

                <!-- Pagination -->

                <div id="pagination" class="flex justify-center mt-5 gap-2">
                    {{#if cookingOrders.hasPrevPage}}<a href="/order/?page={{cookingOrders.prevPage}}"><button
                            class="px-3 py-2 rounded-lg bg-[#222] text-white">Previous</button></a>{{/if}}
                    <button class="px-3 py-2 rounded-lg bg-[#ffc335] text-white">{{cookingOrders.page}}</button>
                    {{!-- <a href=""><button class="px-3 py-2 rounded-lg bg-[#222] text-white">2</button></a> --}}
                    {{#if cookingOrders.hasNextPage}}<a href="/order/?page={{cookingOrders.nextPage}}"><button
                            class="px-3 py-2 rounded-lg bg-[#222] text-white">Next</button></a>{{/if}}
                </div>
                {{else}}
                <p class="empty-message">Orders are empty!</p>
                {{/if}}
                {{/if}}




                {{!-- On way Orders --}}

                {{#if isOnWay}}
                {{#if onWayOrders.docs.length}}
                {{#each onWayOrders.docs}}
                <div class="w-full bg-black p-6 rounded-xl">

                    <!-- order -->

                    <p class="text-white ">Order ID <span class="text-text-color">#{{_id}}</span></p>
                    <div class="flex justify-between w-[90%]">
                        <div class="">
                            <div class="text-white ml-5 mt-3">
                                <p class="">Email: <span class="ml-3 text-xl">{{email}}</span>
                                </p>
                                <p class="">Phone: <span class="ml-3 text-xl">{{phone}}</span> </p>
                                <p class="">Status: <span class="ml-3 text-xl">{{status}}</span></p>
                            </div>
                        </div>
                        <div class="w-[40%]">
                            <ul class="flex justify-around text-end text-white">
                                <h1>Meals: </h1>
                                <br>
                                <ul>
                                    {{#if meals.length}}
                                    {{#each meals}}
                                    <li>{{meal.en_name}} * {{amount}} ----- ${{meal.price}}</li>
                                    {{/each}}
                                    {{else}}
                                    <li>Empty!</li>
                                    {{/if}}
                                </ul>
                            </ul>

                        </div>
                    </div>
                    <form action="/order/{{_id}}/change-status" method="post">
                        <div class="text-end mt-10">
                            <button type="submit" class="bg-green-600 text-white rounded py-2 px-5">Delivered</button>
                        </div>
                    </form>
                    <form action="/order/{{_id}}/dismiss" method="post">
                        <div class="text-end mt-2">
                            <button type="submit" class="bg-red-600 text-white rounded py-2 px-5">Dismiss</button>
                        </div>
                    </form>

                </div>
                {{/each}}

                <!-- Pagination -->

                <div id="pagination" class="flex justify-center mt-5 gap-2">
                    {{#if onWayOrders.hasPrevPage}}<a href="/order/?page={{onWayOrders.prevPage}}"><button
                            class="px-3 py-2 rounded-lg bg-[#222] text-white">Previous</button></a>{{/if}}
                    <button class="px-3 py-2 rounded-lg bg-[#ffc335] text-white">{{onWayOrders.page}}</button>
                    {{!-- <a href=""><button class="px-3 py-2 rounded-lg bg-[#222] text-white">2</button></a> --}}
                    {{#if onWayOrders.hasNextPage}}<a href="/order/?page={{onWayOrders.nextPage}}"><button
                            class="px-3 py-2 rounded-lg bg-[#222] text-white">Next</button></a>{{/if}}
                </div>
                {{else}}
                <p class="empty-message">Orders are empty!</p>
                {{/if}}
                {{/if}}


            </div>
        </div>

    </main>

    <script>
        // Loader closer.
        window.onload = function () {
            loading();
        };
        function loading() {
            let containerLoad = document.querySelector(".container-loader");
            containerLoad.style.display = "none";
        }

        function startLoader() {
            let containerInput = document.querySelector('.profile-info')
            containerInput.style.display = 'none'
            let containerLoad = document.querySelector(".container-loader");
            containerLoad.style.display = "grid";
        }
    </script>

</body>

</html>